"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor: {}
  "exception-reporting":
    userId: "8784d538-aac2-440c-917c-c7cce3a80e4a"
  "markdown-preview": {}
  whitespace:
    removeTrailingWhitespace: false
".slim.text":
  whitespace:
    removeTrailingWhitespace: false
